<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Architecture</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
            integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>

    <style>
    body { background-color: #E2DFD2;

}
.container{
    margin-top:0px;
}
.btn:hover{
    color:white;
}
.input-text:focus{
    box-shadow: 0px 0px 0px;
    border-color:#343a40!important;
    outline: 0px;
}
.form-control {
    border: 1px solid #343a40!important;
}


    </style>
</head>
<body>

<div th:replace="fragments/navs.html :: topnav"></div>
<div class="col-md-2">
</div>
<div class="container my-2">
<!--Card Title-->
    <div class="input-group mb-3">
        <input type="text" name="keyword" th:value="${keyword}"
               class="form-control input-text" placeholder="Search"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-dark btn-md" type="submit"><i
                    class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="row">
        <h5 class="card-title">Architecture</h5>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div th:switch="${architectures}" class="container my-5">
                        <form th:action="@{/all-architecture-list}" method="get">
                        </form>
                    </div>
                    <div th:case="*">
                        <tr>
                            <th> Name</th>
                            <th> Author</th>
                            <th> Location</th>
                            <th> Year</th>
                            <th> Movement</th>
                            <th> Is Temporary</th>
                        </tr>
                        <tr th:each="architecture: ${architectures}">
                            <td><span class="card-text"
                                      th:text="${architecture.name}"> Name </span>
                            </td>
                            <td><span class="card-text"
                                      th:text="${architecture.author}"> Author </span>
                            </td>
                            <td><span class="card-text"
                                      th:text="${architecture.location}"> Location </span></td>
                            <td><span class="card-text"
                                      th:text="${architecture.year}"> Year </span>
                            </td>
                            <td><span class="card-text"
                                      th:text="${architecture.movement}"> Movement </span></td>
                            <td><span class="card-text" th:text="${architecture.Temporary}"> Is Temporary </span>
                                <span class="card-text"
                                      th:if="${architecture.Temporary == 'true'}"></span>
                                <span class="card-text"
                                      th:unless="${architecture.Temporary != 'true'}"></span>
                                <span th:if="${architecture.isTemporary == 'true'}"></span>
                                <span th:unless="${architecture.isTemporary != 'true'}"></span></p>
                            </td>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>





    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Architecture</h5>
                    <div th:switch="${architectures}" class="container my-5">
                        <div class="col-md-10">
                            <div class="search-container">
                                <form th:action="@{/all-architecture-list}" method="get">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="input-group mb-3">
                                                <input type="text" name="keyword" th:value="${keyword}"
                                                       class="form-control input-text" placeholder="Search"
                                                       aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-dark btn-md" type="submit"><i
                                                            class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div th:case="*">
                                <table class="card-title">
                                    <thead>
                                    <tr>
                                        <th> Name</th>
                                        <th> Author</th>
                                        <th> Location</th>
                                        <th> Year</th>
                                        <th> Movement</th>
                                        <th> Is Temporary</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="architecture: ${architectures}">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                                            <div class="card-body">
                                                <h5 class="card-title">Architecture</h5>
                                                <div class="card-body">
                                                    <td><span class="card-text"
                                                              th:text="${architecture.name}"> Name </span>
                                                    </td>
                                                    <td><span class="card-text"
                                                              th:text="${architecture.author}"> Author </span>
                                                    </td>
                                                    <td><span class="card-text"
                                                              th:text="${architecture.location}"> Location </span></td>
                                                    <td><span class="card-text"
                                                              th:text="${architecture.year}"> Year </span>
                                                    </td>
                                                    <td><span class="card-text"
                                                              th:text="${architecture.movement}"> Movement </span></td>
                                                    <td><span class="card-text" th:text="${architecture.Temporary}"> Is Temporary </span>
                                                        <span class="card-text"
                                                              th:if="${architecture.Temporary == 'true'}"></span>
                                                        <span class="card-text"
                                                              th:unless="${architecture.Temporary != 'true'}"></span>
                                                        <span th:if="${architecture.isTemporary == 'true'}"></span>
                                                        <span th:unless="${architecture.isTemporary != 'true'}"></span></p>
                                                    </td>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>