<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Architecture</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
            integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <link th:href="@{/css/topnav.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<div th:replace="~{fragments/navs.html :: topnav}"></div>
<div class="container-lg">
    <br><br>
    <div>
        <h3 class="card-title"><strong>Architecture</strong></h3>
    </div>
    <br><br>
    <form th:action="@{/architecture}" method="get">
        <div class="search-container">
            <div class="input-group col-lg-5">
                <input type="text" name="keyword" th:value="${keyword}"
                       class="form-control input-text" placeholder="Search"
                       aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-dark btn-md" type="submit"><i
                            class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <br>
        <div class="col-lg-5">
            <a th:href="@{/artobject-list?keyword=}" class="btn btn-secondary btn-sm">All Art Objects</a>
            <a th:href="@{/sculpture?keyword=}" class="btn btn-secondary btn-sm">Sculpture</a>
            <a th:href="@{/painting?keyword=}" class="btn btn-secondary btn-sm">Painting</a>
            <a th:href="@{/literature?keyword=}" class="btn btn-secondary btn-sm">Literature</a>
        </div>
        <br><br><br>
        <div class="row">
            <tr th:each="artobject: ${artobjects}">
                <div class="col-lg-4 col-lg-4 mb-4">
                    <div class="card d-flex align-items-stretch h-100">
                        <div class="card-body">
                            <img class="card-img-top" alt="Card image"
                                 style="width:40% 60%"
                                 th:src="${artobject.imageLink}">
                            <div class="card-body">
                                <h5 class="card-title" th:value="${artobject.name}"
                                    th:text="${artobject.name}"></h5>
                                <li>
                                    <th>Name:</th>
                                    <span th:text="${artobject.name}"></span>
                                </li>
                                <li>
                                    <th>Author:</th>
                                    <span th:text="${artobject.author}"></span>
                                </li>
                                <li>
                                    <th>Location:</th>
                                    <span th:text="${artobject.location}"></span>
                                </li>
                                <li>
                                    <th>Movement:</th>
                                    <span th:text="${artobject.movement}"></span>
                                </li>
                                <li>
                                    <th>Year:</th>
                                    <span th:text="${artobject.year}"></span>
                                </li>
                                <li>
                                    <th>Is Temporary:</th>
                                    <span th:text="${artobject.isTemporary}"></span>
                                    <span th:if="${artobject.isTemporary == 'true'}"></span>
                                    <span th:unless="${artobject.isTemporary != 'true'}"></span>
                                </li>
                                <br>
                                <div sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a href="/save-artobject" type="button"
                                       class="btn btn-outline-secondary btn-sm">Add</a>
                                    <a th:href="@{'/update-artobject/' + ${artobject.id}}"
                                       class="btn btn-outline-success btn-sm">Update</a>
                                    <a th:href="@{'/delete-artobject/' + ${artobject.id}}"
                                       class="btn btn-outline-danger btn-sm">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
        </div>
    </form>
</div>
</body>
</html>