<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Content</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link th:href="@{/css/topnav.css}" rel="stylesheet"/>

    <style>
* {box-sizing: border-box;}

body {
margin: 0;
font-family: Times New Roman", Times, serif;
}

body {
height: 100%;
margin: 0;
background-color: #FFFAF0;

#musicList {
  font-family: Times New Roman", Times, serif;
  border-collapse: collapse;
  width: 100%;
}





    </style>
</head>
<body>

<div th:replace="fragments/navs.html :: topnav"></div>
<div class="col-md-2">
</div>
<div class="container my-2">
    <div class="card ">
        <div class="card-body">
            <div th:switch="${musicList}" class="container my-5">
                <div class="col-md-10">
                    <div class="search-container">
                        <form th:action="@{/content}" method="get">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-group mb-3">
                                        <input type="text" name="keyword" th:value="${keyword}"
                                               class="form-control input-text" placeholder="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-dark btn-md" type="submit"><i
                                                    class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th> Name</th>
                                <th> Location</th>
                                <th> Event Time</th>
                                <th> Movement</th>
                                <th> Is Temporary</th>
                                <th> Update</th>
                                <th> Delete</th>
                            </tr>

                            </thead>
                            <tbody>
                            <tr th:each="music: ${musicList}">
                                <td><span th:text="${music.name}"> Name </span></td>
                                <td><span th:text="${music.location}"> Location </span></td>
                                <td><span th:text="${music.eventTime}"> Event Time </span></td>
                                <td><span th:text="${music.movement}"> Movement </span></td>
                                <td><span th:text="${music.isTemporary}"> Is Temporary </span>
                                    <span th:if="${music.isTemporary == 'true'}"></span>
                                    <span th:unless="${music.isTemporary != 'true'}"></span>
                                </td>
                                <td>
                                    <a th:href="@{/updateMusic/{name}(id=${music.name})}"
                                       class="fa fa-edit"></a>
                                </td>
                                <td>
                                    <a th:href="@{/deleteMusic/{name}(id=${music.name})}"
                                       class="fa fa-trash"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
</body>
</html>