<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>E-wallet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:href="@{/css/sidenav.css}" rel="stylesheet"/>
    <link th:href="@{/css/topnav.css}" rel="stylesheet"/>

</head>
<body>

<div th:replace="fragments/navs.html :: topnav"></div>

<div class="row">
    <div class="col-md-2">
        <div th:replace="fragments/navs.html :: sidenav"></div>
    </div>

    <div class="col-md-9">
        <div>
            <div class="container">
                <div th:switch="${locations}">
                    <div class="col-md-10">
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                <tr>
                                    <th> Name</th>
                                    <th> Category</th>
                                    <th> Movement</th>
                                    <th> Year</th>
                                    <th> Country</th>
                                    <th> Is Temporary</th>
                                    <th><span class="fa-solid fa-triangle-exclamation"></span>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="location: ${locations}">
                                    <td><span th:text="${location.name}"> Name </span></td>
                                    <td><span th:text="${location.category}"> Category </span></td>
                                    <td><span th:text="${location.movement}"> Movement </span></td>
                                    <td><span th:text="${location.year}"> Year </span></td>
                                    <td><span th:text="${location.country}"> Country </span></td>
                                    <td><span th:unless="${location.isTemporary}"
                                              class="fa-solid fa-square-xmark"></span>
                                        <span th:if="${location.isTemporary}"
                                              class="fa-solid fa-square-check"></span>
                                    </td>
                                    <td><a th:href="@{'/location/delete/' + ${location.name}}"
                                           class="fa-solid fa-trash"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>