<form action="#" th:action="@{/modals/register}" th:object="${user}" method="post"
      xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <label for="fullName"><b>Name</b></label>
        <input type="text" th:field="*{fullName}" id="fullName"
               placeholder="Name" required>

        <label for="username"><b>Username</b></label>
        <input type="text" th:field="*{username}" id="username"
               placeholder="Username" required>

        <label for="email"><b>Email</b></label>
        <input type="email" th:field="*{email}" id="email" placeholder="Email"
               name="email" required minlength="5">

        <label for="password1"><b>Password</b></label>
        <input type="password" th:field="*{password}" id="password1"
               placeholder="Password" name="password1" required minlength="4">

        <label for="passwordConfirm"><b>Repeat Password</b></label>
        <input type="password" th:field="*{passwordConfirm}"
               id="passwordConfirm"
               placeholder="Repeat Password" name="passwordConfirm" required minlength="4">

        <div th:if="${user.password != user.passwordConfirm}"
             class="alert alert-danger" role="alert">
            <p class="error">Passwords do not match!</p>
        </div>

        <div>
            <input type="hidden" th:field="*{accountNonExpired}"/>
            <input type="hidden" th:field="*{accountNonLocked}"/>
            <input type="hidden" th:field="*{credentialsNonExpired}"/>
            <input type="hidden" th:field="*{enabled}"/>
        </div>

        <div class="clearfix">
            <button type="submit">Sign Up</button>
        </div>
        <div>
            <button type="button"
                    onclick="document.getElementById('register').style.display='none'"
                    class="cancelbtn">Cancel
            </button>
        </div>
    </div>
</form>

